In [5]:
print("Hello World")

Hello World

In [6]:
a = [1, 2, 3]

In [7]:
x = 10
name = "Bhupi"
print(x)
print(name)

10
Bhupi

In [8]:
print(type(x))

<class 'int'>

In [9]:
x = input()
print(type(x))

<class 'str'>

### Conditional Statements in Python

- If Statement
```python
if <expr>:
    <statement>
else:
    <statement>
```

```<expr>``` is a evaluated in boolean context, if it is true then the ```<statement>``` is executed else it is skipped or else statement is executed

In [10]:
x = 5;
y = 10;
if x < y:
    print("yes", x < y)
else:
    print("no", x < y)

yes True

In [11]:
# Multiline Strings

code = """
def add(a, b):
    return a + b
    
add(1, 2)
"""
print(code)
print(type(code))

def add(a, b):
    return a + b

add(1, 2)

<class 'str'>

In [12]:
age = 21
text = "My age is " + str(age)
print(text)
print(type(text)) # <class 'str'>

age = 21
text = "My age is ", age
print(text)
print(type(text)) # <class 'tuple'>

My age is 21
<class 'str'>
('My age is ', 21)
<class 'tuple'>

In [13]:
#String methods

a = "Hello World"
print(a.lower()) # returns hello world
print(a.upper()) # returns HELLO WORLD
print(a.strip()) # returns "Hello World" without the leading and trailing spaces
print(a.replace("H", "J")) # returns "Jello World"
print(a.split(" ")) # returns ['Hello', 'World']

hello world
HELLO WORLD
Hello World
Jello World
['Hello', 'World']

In [14]:
a = True
b = False
print(a and b or a) 

# a and b → True and False → False

# False or a → False or True → True

True

In [15]:
print(bool(0)) # False
print(bool(1)) # True
print(bool("")) # False
print(bool("Hello")) # True
print(bool(None)) # False
print(bool(False)) # False
print(bool(True))

False
True
False
True
False
False
True

In [16]:
a = 10
print(a**2)

100

## Lists

- Lists are used to store multiple items in a single variable.
```python
list = [1, 2, 3, 4, 5]
```

```python
list = [1, "Hello", 3.14, True]
```

In [17]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [18]:
# A list can store value of multiple datatypes
list1 = ["abc", 34, True, 40, "male"]
print(list1)
print(type(list1))

['abc', 34, True, 40, 'male']
<class 'list'>

In [19]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']